#grid-container {
  display: grid;
  grid-template-columns: 50% 50%;

}
/*
.button {
  font: bold 16px Arial;
  border: 1px solid #000000;
  text-decoration: none;
  background-color: #6d7068;
  color: #000000;
  padding: 10px;
}
*/
.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

h1 {
  font-size: 48px;

}

#sad-face {
  width: 150px;
  height: 80%;
  position:relative;
  animation-name: animation;
  animation-duration: 3s;
  animation-play-state: paused;
}

#sad-face:hover {
  animation-play-state: running;
}

@keyframes animation {
  0% {left:0px; top:0px;}
  50% {left:10px; top:0px;}
  75% {left:0px; top:0px;}
  100% {left:10px; top:0px;}

}
